* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.screen_shake {
    animation: s_shake 1s linear;
}

@keyframes s_shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(0deg); }
    20% { transform: translate(-3px, 2px) rotate(0deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, -2px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(0deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

#game {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: black;
}

#canvas {
    position: absolute;
    top: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: black;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.explore_text {
    position: absolute;
    top: calc(50vh - 150px);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    text-align: center;
    font-size: 1rem;
    color: #e0e0e0;
}

#logo {
    display: block;
    width: 200px;
    transform: translateX(-50px);
    cursor: pointer;
}

#podium {
    left: 0px;
    opacity: 1;
    transition: all 0.25s;
}

.container_podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    height: 100%;
    margin-top: auto;
}

.podium {
    width: 100px;
}

.go_invisible {
    animation: gone 1s linear forwards;
}

@keyframes gone {
    0% {
        opacity: 1;
        left: 0px;
    }
    99% {
        opacity: 0;
        left: 0px;
    }
    100% {
        opacity: 0;
        left: 100vw;
    }
}

.podium_rank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_podium .first {
    min-height: 40vh;
    border: 2px solid white;
    border-bottom: 0px;
    color: white;
    background-color: black;
}

.container_podium .second {
    min-height: 30vh;
    border: 2px solid white;
    border-bottom: 0px;
    color: white;
    background-color: black;
}

.container_podium .third {
    min-height: 20vh;
    border: 2px solid white;
    border-bottom: 0px;
    color: white;
    background-color: black;
}

@media screen and (max-width: 1000px) {
    .podium {
        width: 100px;
    }

    .container_podium .first {
        min-height: 40vh;
    }
    
    .container_podium .second {
        min-height: 30vh;
    }
    
    .container_podium .third {
        min-height: 20vh;
    }
}

@media screen and (max-width: 500px) {
    .roboto {
        font-size: 0.75rem;
    }

    .container_podium {
        gap: 10px;
    }
}

.info {
    width: 100%;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.tut_info {
    color: #e0e0e0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

#ballmove {
    top: 60vh;
}

#smash {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

#start {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    opacity: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

    color: #e0e0e0;
    background-color: black;
}

.click_arrow {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
    margin-top: 10px;
}

.expansion {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.click_circle {
    grid-row-start: 1;
    grid-column-start: 1;
    position: absolute;
    width: 0px;
    height: 0px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
}

.button_trigger {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    border: none;
    background: none;
}

.expansion_circle {
    animation: expansion_trigger 0.5s linear forwards;
}

.transition_anim {
    animation: anim_transition 0.5s linear forwards;
}

@keyframes expansion_trigger {
    to {
        width: calc(200vw + 200vh);
        height: calc(200vw + 200vh);
    }
}

@keyframes anim_transition {
    0% {
        opacity: 1;
        display: flex;
    }
    99% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.nav_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    display: none;
    background-color: rgba(0, 0, 0, 0.655);
    backdrop-filter: blur(5px);
}

.navbar {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    max-width: 1000px;
    padding: 0 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
}

.nav_logo {
    font-size: 1.5rem;
    color: rgb(230, 230, 230);
}

.links {
    display: flex;
    gap: 1.5rem;
}

.links li {
    list-style: none;
}

.links a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.links a:hover {
    color: white;
}

#jbeats_web, #jbeats_alternative {
    display: none;
}

.miniture {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.miniture div {
    width: 25px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(230, 230, 230);
    transition: all 250ms ease-in-out;
    transform-origin: right;
    opacity: 1;
    transform: rotate(0deg);
}

.miniture .rotateUp {
    transform: rotate(45deg);
}

.miniture .rotateDown {
    transform: rotate(-45deg);
}

.miniture .gone {
    opacity: 0;
}

.dropdown {
    display: none;
    position: fixed;
    top: 60px;
    right: 0px;
    width: 100vw;
    height: 0px;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

.open {
    height: 165px;
}

.dropdown li {
    background-color: rgba(180, 180, 180, 0.5);
    border: 1px solid black;
    border-top: 0px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.dropdown a {
    padding: 0.7rem 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.dropdown li:hover {
    color: white;
}

@media screen and (max-width: 500px) {
    .explore_text {
        top: calc(50vh - 175px);
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .links {
        display:  none;
    }

    .miniture {
        display: flex;
    }

    .dropdown {
        display: block;
    }

    #tutorial_level, #gameplay_level {
        display: none;
    }

    #jbeats_web, #jbeats_alternative {
        display: flex;
    }
}
